@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic-ext,cyrillic);

$bold: 700;
$regular: 400;

a:active,
a:focus,
button:active,
button:focus,
input:active,
input:focus,
textarea:active,
textarea:focus {
  outline: none;
}

.body-bg {
  position: fixed;
  top: 0;
  left: 0;
  height: auto;
  min-height: 100%;
  min-width: 860px;
  width: 100%;
  z-index: -1;
}

body {
  font-family: 'PT Sans', sans-serif !important;
  font-weight: $regular;
}

.main {
  width: 100%;
}

.wrap {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.form {
//  width: 453px;
//  height: 434px;
  float: right;
  margin-bottom: 35px;
}

.sr-box-list {
  li {
    background-color: transparent !important;
    height: auto !important;
  }
}

.sr-box {
  border-width: 1px;
  border-color: rgb(90, 174, 88);
  border-style: solid;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.294);
  width: 302px !important;
  //height: 327px !important;
}

.left-container {
  float: left;
  width: 441px;
  h3 {
    font-weight: $bold;
    text-align: left;
    font-size: 20px;
    color: rgb(116, 214, 114);
    text-transform: uppercase;
  }
  ul {

  }
  li {
    font-size: 20px;
    color: rgb(255, 255, 255);
    background: url(../img/icon-1.png) left center no-repeat;
    display: block;
    padding-left: 40px;
    padding-top: 13px;
    padding-bottom: 3px;
  }

}

table {
  background: transparent !important;
  div {
    width: 100% !important;
    padding-left: 0 !important;
  }
}

//верхний текст формы
.sr-281537_44 {
  label {
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    text-align: center;
    line-height: normal !important;
    display: block;
    margin-top: 6px;
    padding: 0 !important;
  }
}

//нижний текст формы
.sr-element {
  font-size: 14px;
  color: rgb(0, 0, 0) !important;
  text-align: center;
  text-transform: none !important;
}

td {
  padding: 0 !important;
}

.footer {
  width: 100%;
  text-align: center;
  height: 20px;
  p {
    text-align: center;
    font-size: 16px;
    color: rgb(0, 0, 0);
  }
}

.clear {
  clear: both;
}

h1 {
  font-weight: $bold;
  text-transform: uppercase;
  text-align: center;
  font-size: 50px;
  color: rgb(116, 214, 114);
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.294);
  margin-bottom: 14px;
}

h2 {

}

h3 {
  margin-bottom: 12px;
  margin-top: 10px;
  text-align: center;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
}

h4 {
  text-align: center;
  font-weight: $bold;
  font-size: 25px;
  color: rgb(116, 214, 114);
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.294);
  margin-top: 15px;
  margin-bottom: 35px;
}

input[type="text"] {
  background-color: rgb(255, 255, 255) !important;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.157) !important;
  text-align: center !important;
  width: 220px !important;
  height: 40px !important;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.702);
  font-weight: $regular !important;
  margin-top: 4px !important
}

.form-text {
  font-family: $bold;
  text-align: center;
  margin-top: 67px;
  margin-bottom: 4px;
  font-size: 23px;
}

.form-bot-text {
  text-align: center;
  margin-top: 2px;
}

.error-block {
  text-align: center;
  margin-top: 8px;
  margin-bottom: -7px;
}

.pluso {
  display: table !important;
  margin-left: auto;
  margin-right: auto;
}

//input[name="field_name"] {
//  display: none;
//}

input[type="submit"] {
  background-color: rgb(78, 98, 220) !important;
  width: 220px !important;
  height: 55px !important;
  padding: 0 !important;
  border-bottom: 2px solid rgb(10, 27, 126) !important;
  border-width: 0 0 2px 0 !important;
  margin: 16px 0 2px 0 !important;
}




